body
{
	max-width: 1024px;
	margin: auto;
	background: #EAEAEA;
}
div
{
	text-align: center;
}
div #mensaje
{
	
	display: inline-block;
	color: #DD0000;

}
header
{
	background: #1C1D18;
	border: solid 6px #585A4E;
}

figure
{

	text-align: center;
	width: 20em;
	margin: 1em 0 0 0;
	margin-left: 23em;
}
figure img
{
	width: 12em;	
}
h1
{
	color: #FFFFFF;
	font-weight: bold;
	margin: 0;
	margin-left: 13em;
	width: 7.5em;
}
h2
{
	
	text-align: center;	
}

section
{
	margin: 1em;
}
section #instrucciones #expresion
{ 
	margin: 0;
	font-weight: bold;
	text-align: center;
	font-size: 19px;
	
}
#solucion #variables input #boton
{
	border:solid red;
}
#solucion #variables li
{
	display: inline-block;
	margin-left: 5em;
}
#solucion #variables li a
{
 	text-decoration: none;
 	color: #000000;
 	font-size: 22px;
 	font-weight: bold; 
}
#solucion #resultado li
{
display: inline-block;
margin-left: 11em;
}
#solucion #resultado li a
{
	text-decoration: none;
	color: #000000;
	font-size: 17px;
	font-weight: bold;
}
#uno,#dos, #tres
{
	margin: 0;
}
#orden
{
	font-weight: bold;
}